    <script>
        function toggleNav() {
            var x = document.getElementsByClassName("header-nav")[0];
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }   
    </script>
    
    <footer>
        <a href="https://github.com/Alex-Roux/webserver">Github</a>
    </footer>
</body>
</html>