<header>
	<div class="header-title">
		Website
		<% if(user) { %>
		<div class="user">
			<p>Logged in as <%= user.email %>, <a href="/logout" title="Log out">log out</a></p>
		</div>
		<% } %>
	</div>
	<div class="header-nav">
		<nav>
			<a class="button" href="/">Index</a>
			<a class="button" href="/page2">Page 2</a>
			<a class="button" href="/page3">Page 3</a>
			<a class="button" href="/page4">Page 4</a>
			<% if(!user) { %>
			<a class="button signup" href="/signup">Sign up</a>
			<a class="button login" href="/login">Log in</a>
			<% } %>
		</nav>
	</div>

</header>
<body>