<header>
	<div class="header-title">
		Website
	</div>
	<div class="header-nav">
		<nav>
			<a class="button" href="/">Index</a>
			<a class="button" href="/page2">Page 2</a>
			<a class="button" href="/page3">Page 3</a>
			<a class="button" href="/page4">Page 4</a>
			<a class="button signup" href="/signup">Sign up</a>
			<a class="button login" href="/login">Log in</a>
		</nav>
	</div>

</header>
<body>