@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');                /* Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap'); /* Baloo Chettan 2 */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');                    /* Rubik */

/* ---Variables--- */
:root {
    --primary: #ebaf0b;
    --secondary: #0d1452;
}

/* ---Base styles--- */
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    color: black;
}

header,
footer {
    font-family: 'Baloo Chettan 2', sans-serif;
    color: white;
}

/* Header */
header {
    background-color: var(--secondary);
    overflow: auto;
}

.header-title {
    padding: 16px;
    background-color: var(--secondary);
}

.user {
    text-align: right;
}

.user a {
    color: white;
    text-decoration: none;
}

.user a:hover {
    color: red;
    transition-duration: 500ms;
}

.header-nav {
    padding: 16px;
    padding-bottom: 24px;
    float: right;
}

.header-nav .button {
    padding: 4px 8px 4px 8px;
    margin: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
}

.header-nav .button:hover {
    background-color: var(--primary);
    transition-duration: 250ms;
}

.header-nav .signup {
    background-color: aqua;
}

.header-nav .login {
    background-color: greenyellow;
}

.login-form,
.signup-form {
    margin: 16px;
}

/* Body */
.document {
    padding: 16px 64px 16px 64px;
    min-height: 100vh; /* only for development */
}

/* Footer */
footer {
    padding: 16px;
    background-color: var(--secondary);
}

footer a {
    color: inherit;
    text-decoration: none;
}

.signup-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;
}

form {
    display: inline-block;
    padding-bottom: 10px;
}

form fieldset {
    border: none;
}

form .input-field {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.email-error,
.password-error {
    font-size: 0.9em;
    color: red;
}

form label {
    margin-right: 8px;
}

form button,
form input {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
}

form input {
    width: 100%;
}

form button {
    margin-left: 16px;
    background-color: rgba(0, 0, 0, 0.05);
}

form button:hover,
form input:focus {
    background-color: rgba(0, 0, 0, 0.1);
    transition-duration: 500ms;
}
