<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
    <div class="signup-form">
        <form>
            <h1>Sign up</h1>
            <label for="email">Email</label>
            <input type="text" name="email" autocomplete="email" required />
            <div class="email-error"></div>            
            <label for="password">Password</label>
            <input type="password" name="password" autocomplete="new-password" required />
            <div class="password-error"></div> 
            <button>Sign up</button>
        </form>
    </div>

    <script>
        const form = document.querySelector("form");

        form.addEventListener("submit", (e) => {
            e.preventDefault();

            const email = form.email.value;
            const password = form.password.value;
            console.log(email, password)

        })

    </script>
<%- include('../partials/footer.ejs') %>
