<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
    <div class="document">
        Hello, this is my website.
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>