<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
    <div class="document">
        This is a fourth page. This page needs authentication.
    </div>
<%- include('./partials/footer.ejs') %>