<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
    <div class="document">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate felis at nibh volutpat, nec congue ligula finibus. Curabitur maximus blandit gravida. Curabitur in eleifend leo. Maecenas nec magna convallis, feugiat libero a, mollis mauris. Donec vel ultricies nisl. Praesent elit ligula, dictum quis laoreet sed, lacinia in ipsum. Vestibulum sit amet mauris aliquam, luctus orci a, molestie arcu. Donec nec cursus orci.

Nulla dapibus tempor libero suscipit varius. Nam maximus viverra quam, et bibendum neque bibendum sed. Nam maximus, augue vitae tincidunt eleifend, purus odio varius libero, ut tristique massa nisl vitae eros. Duis quis laoreet leo. Sed consectetur velit at maximus porta. In porttitor ullamcorper luctus. Aliquam purus diam, auctor nec quam ut, pharetra pharetra erat.

Cras quam justo, condimentum eget nisl in, sagittis sagittis nulla. Maecenas vulputate at risus vel laoreet. Duis sollicitudin lectus molestie eros vehicula, tempor dignissim nibh pulvinar. Suspendisse eu bibendum enim. Phasellus lacinia tincidunt augue, nec auctor risus hendrerit nec. Sed ut tincidunt nisl. Morbi et ipsum vel metus ultricies facilisis id ut felis. Aliquam nec nunc ut orci malesuada cursus et ut erat. In ac dui purus. Cras commodo ultricies malesuada. Quisque at sapien maximus neque sagittis accumsan ac vitae velit.

Curabitur id risus lectus. Donec massa sem, sollicitudin sit amet lacus eget, fermentum bibendum lorem. Nullam augue nisi, interdum eu mattis sed, mollis vestibulum orci. In sodales efficitur massa, vel maximus lacus varius et. Sed odio erat, vulputate ut elementum non, rutrum ac sapien. Etiam imperdiet turpis non ex aliquet volutpat. Vestibulum nunc dolor, interdum nec luctus quis, volutpat sit amet orci. Etiam sed libero iaculis, lacinia lacus fermentum, semper lectus.

Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed suscipit eget tortor a tincidunt. Pellentesque porttitor metus gravida, fringilla ligula sodales, malesuada nisi. Ut id quam et velit blandit varius ac quis leo. Etiam eu arcu sit amet ante malesuada dignissim. Nulla lacinia eu leo iaculis lacinia. Donec in lacus ullamcorper, finibus purus vitae, feugiat dui. Suspendisse ultrices convallis diam, non semper mi auctor quis. Integer vel eros lacus. In molestie nunc a sapien tincidunt, ut posuere tortor bibendum. Fusce ac ligula eget quam luctus fermentum. Ut tristique tortor in eros scelerisque accumsan.
    </div>
<%- include('./partials/footer.ejs') %>