<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <br />
    2nd page
    <br />
    <%- include('./partials/footer.ejs') %>
</body>
</html>